.Gallery {
  padding-top: 3rem;
  padding-bottom: 0;
}

.Titles {
  text-align: center;
  padding: 0 1rem;
}
.Title {
  color: #ff3e3d;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.03rem;
  text-align: center;
}
.SubTitle {
  color: #162e55;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.Text {
  color: #7f7f7f;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;

  opacity: 0.7;
}

.TextDiv {
  padding: 2rem 1rem;
  margin-bottom: 3rem;
}
.cards {
  padding: 4rem 0;
}

@media (min-width: 992px) {
  .Gallery {
    padding-top: 3rem;
    padding-bottom: 6rem;
  }
  .Titles {
    padding: 0 15rem;
  }
  .Title {
    /* font-size: 1.5rem; */
  }
  .SubTitle {
    font-size: 2.75rem;
  }
  .Text {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}
