header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.7rem 0;
}

.Navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.Logo {
  width: 8.4375rem;
  height: 3.5rem;
  flex-shrink: 0;
}
.PageLink {
  /* color: #fc0606; */
  color: #7f7f7f;
  /* font-family: Inter; */
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.FreeBtn {
  padding: 1rem 1.25rem;
  border: none;
  border-radius: 0.875rem;
  background-color: #ff3e3d;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
